
.hidden {
  display: none;
}

/* universal styles */
body {
  margin: 0;
  font-family: Poppins;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  text-align: center;
}

/* buttons style start */
.watchButton {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background: rgb(224, 44, 109);
  padding: 10px 24px;
  text-decoration: none;
  color: white;
  transition: 0.8s ease-in;
}
.watchButton:hover {
  cursor: pointer;
}

.login {
  margin: 0;
  padding: 0;
}

.watchButton .fas {
  margin-left: 8px;
}

.watchButton:hover .fas {
  animation: rightIcon 0.2s ease infinite alternate;
}

@keyframes rightIcon {
  0% {
    color: white;
  }

  100% {
    transform: translateX(3px);
  }
}

/* button style ends */

/* 
    .topnav .icon {
      display: none;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
       
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: absolute;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        color: blue;
      }
    }
  
   */

/* .topnav {
      overflow: hidden;
      background-color: #333;
    } */

.topnav a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.icon {
  display: none;
}

@media screen and (max-width: 688px) {
  /* universal */
  .topnav {
    display: none;
  }
  .topnav.responsive {
    position: relative;
  }
  .icon {
    display: flex;
    justify-content: end;
    font-size: larger;
    color: white;
    /* background: #ffffff; */
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px;
    /* width: 15px; */
  }
  .topnav.responsive {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  header {
    padding: 0;
  }
  .navShown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
  }
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  /* live section */
  .heroSection {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .heroTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
  }

  .homeSection {
    margin-left: 16px;
  }

  .heroImage {
    margin-bottom: 30px;
  }
  .heroImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  /* .heroImage img {
      width: 329px;
      height: 259.17px;
    } */

  /* 
  best player section
  */
  .bestPlayer {
    margin-top: 70px;
    margin-bottom: 27px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
  }

  /* 
  highlight section
  */
  .highLight {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 15px;
    padding-right: 15px;
  }

  .highText h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
  }

  .highText p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
  }

  .highText {
    margin-bottom: 29px;
    margin-top: 24px;
  }

  iframe {
    width: 100%;
    height: auto;
  }

  /* 
  subscribe section 
  */
  .parent-wrapper {
    width: 280px;
    margin: 50px auto 65px;
  }

  /* 
          footer Section
          */

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
  }

  .footerImage {
    width: 271px;
    height: 63px;
    margin: 43px 0px;
  }

  .fab {
    margin: 14px;
    font-size: 30px;
    color: #969bab;
    border-radius: 50%;
    padding: 8px;
    background-color: #e7e7e8;
  }

  .copyright {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
}
